.app__faq {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 1rem;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;

  svg {
    cursor: pointer;
  }

  @media screen and (max-width : 640px) {
    width: 400px;
  }
  
  @media screen and (max-width : 420px) {
    width: 300px;
  }

}
